node_modules/
logs/
my-project/controllers/myController/main.transpiled.min.js
my-project/controllers/myController/main.transpiled.min.js.map

test_file.js

my-project/repo/books.json
my-project/repo/users.json